<div class="contain">
    <div class="body">
    </div>
    <div class="model">
    </div>
    <div class="bikinitop">
    </div>
    <div class="bikinibottom">
    </div>
    <div class="feetleft">
    </div>
    <div class="feetright">
    </div>
    <!-- Mặc đồ -->
    <!-- div hiện áo -->
    <div *ngIf="prodCollection.topclothes" class="bikinitop"
        [ngStyle]="{ 'background-image': 'url(' + prodCollection.topclothes + ')' , 'background-size' : 'cover' }">
    </div>
    <!-- div hiện váy quần -->
    <div *ngIf="prodCollection.botclothes" class="bikinibottom"
        [ngStyle]="{ 'background-image': 'url(' + prodCollection.botclothes + ')' , 'background-size' : 'cover' }">
    </div>
    <div *ngIf="prodCollection.shoes" class="shoes"
        [ngStyle]="{ 'background-image': 'url(' + prodCollection.shoes + ')' , 'background-size' : 'cover' }"></div>

</div>