<!-- Buổi 1 - START 👍 -->
<!-- <h1>Dang Trung Hieu</h1>

<h2>Cybersoft</h2>

<app-header></app-header> -->

<!-- <app-ex1-home></app-ex1-home> -->

<!-- <app-ex2-home></app-ex2-home> -->

<!-- <app-demo-data-binding></app-demo-data-binding> -->
<!-- Buổi 1 - END 👍 -->

<!-- Buổi 2 - START 🎈 -->
<!-- <app-car></app-car> -->

<!-- <app-demo-directive>
    <h1>Demo ng content</h1>
    <p>ng content</p>
</app-demo-directive> -->

<!-- <app-product-management></app-product-management> -->
<!-- Buổi 2 - END 🎈 -->

<!-- Buổi 3 - START 📀 -->
<!-- <app-student-management></app-student-management> -->
<app-home></app-home>